*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #EAEADF;
}

img{
    width: 100%;
}

input,
textarea{
    margin-bottom: 10px;
    padding: 2px 5px;
}

a{
    text-decoration: none;
    color: #7AF4F2;
    cursor: pointer;
}

a:hover{
    color: #EA5712;
}

button{
    background-color: #9D1509;
    color: #EAEADF;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #EAEADF;
    color: #0F0F0D;
}

.splash{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0F0F0D;
}

.error{
    background-color: #9D1509;
    color: #EAEADF;
    padding: 10px 40px;
}

.splashText{
    background-color: #0F0F0D;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    padding-top: 25px;
    padding-bottom: 45px;
}

.splashText h1{
    font-size: 44px;
    position: absolute;
    top: -4vh;
    margin: 0 auto;
}

.splashText p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 35px;
    letter-spacing: 3px;
}

.description{
    padding: 40px;
}

.description h1{
    background-color: #EAEADF;
    color: #0F0F0D;
    padding-top: 30px;
    padding-bottom: 4px;
    font-size: 36px;
    width: 97px;
    font-weight: 900;
    line-height: 28px;
    display: inline-block;
}

.description p{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.description div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.description div p{
    font-weight: 100;
    margin-left: 20px;
    font-size: 20px;
    text-align: inherit;
}

.description{
    background-color: #212121;
}

.imageContainer{
    display: flex;
    flex-direction: column;
}

.projects{
    background-color: #212121;
    color: #EAEADF;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects h1{
    font-size: 35px;
    font-weight: 500;
}

.projects p{
    padding: 20px 0;
}

.skills{
    background-color: #212121;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1{
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: 500;
}

.skills ul{
    padding-bottom: 20px;
}

.skills li{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
    text-decoration: inherit;
}

@media screen and (min-width: 760px) {
    p,
    li{
        font-size: 25px !important;
    }

    h1{
        font-size: 60px !important;
    }

    img{
        width: 50%;
        display: inline;
        align-self: center;
    }

    .splash{
        flex-direction: row;
    }

    .splashText{
        width: 50%;
        padding-top: 40px;
    }

    .description h1{
        width: 163px;
        line-height: 50px;
    }

    .imageContainer{
        flex-direction: row;
    }
}
